BACKEND_URL="http://backend:8000/api/v1"

REDIS_HOST="redis"
REDIS_PORT=6379

TRAIN_LOGGING_STEPS=8
# Количесво шагов, необходимое для обратной связи обучения модели

MIN_EPOCHS = 1
MAX_EPOCHS = 30

MIN_BATCH_SIZE = 8
MAX_BATCH_SIZE = 128

MIN_LEARNING_RATE = 1e-7
MAX_LEARNING_RATE = 1e-3

MIN_TESTING_SIZE = 0.1
MAX_TESTING_SIZE = 0.9

MIN_MAX_LINE_LENGHT = 32
MAX_MAX_LINE_LENGHT = 512