VITE_BACKEND_URL="http://localhost:8000/api/v1"

VITE_BASE_MODELS = ["DeepPavlov/rubert-base-cased","albert-base-v2","distilbert-base-uncased","bert-base-multilingual-cased","xlm-roberta-base"]

VITE_CLEAR_PARAMETERS = {"Эпохи": 2,"Размер батчей": 16,"Базовая модель": "DeepPavlov/rubert-base-cased","Скорость обучения": 0.00002,"Размер тренировочного набора": 0.8,"Максимальная длина предложения": 128}