ML_URL="http://ml:8001/api/v1"

DB_HOST="host.docker.internal"
DB_PORT=5432
DB_USERNAME="postgres"
DB_PASSWORD="password"
DB_NAME="marking-lab"

AUTH_DB_HOST="host.docker.internal"
AUTH_DB_PORT=5432
AUTH_DB_USERNAME="postgres"
AUTH_DB_PASSWORD="password"
AUTH_DB_NAME="marking-lab-auth"

USER_JWT_ACCESS_TOKEN_SECRET="w3NWlz4BSf6j6TwwEEXK0pT5yPY4AJzt"
USER_JWT_ACCESS_TOKEN_EXPIRATION_HOURS=240
# USER_JWT_REFRESH_TOKEN_SECRET="v4m9mCNqrIjiNdYiarb4SwUBH5mxCe4O"
# USER_JWT_REFRESH_TOKEN_EXPIRATION_HOURS=720

TRAIN_JWT_ACCESS_TOKEN_SECRET="r1yGRupzNCNGwEstj5fL0c5NFfjtON2B"
TRAIN_JWT_ACCESS_TOKEN_EXPIRATION_HOURS=12
# Также отвечает за максимальное время, которое может обучаться модель

STORAGE_PATH="./projects"